name: Build, Push, and Run Docker Container

on:
  push:
    branches:
      - master  # Modifier selon votre branche principale

jobs:
  build-push-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t mlflow-docker .

      - name: Tag Docker image
        run: docker tag mlflow-docker ${{ secrets.DOCKER_USERNAME }}/mlflow-docker:latest

      - name: Push Docker image to DockerHub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/mlflow-docker:latest

      - name: Run Docker container
        run: docker run -d -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/mlflow-docker:latest

      - name: Install jq
        run: sudo apt-get install -y jq

      - name: Install ngrok
        run: |
          curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null
          echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list
          sudo apt-get update && sudo apt-get install ngrok

      - name: Wait for MLflow to be ready
        run: |
          echo "Waiting for MLflow to be ready..."
          for i in {1..30}; do
            if curl --fail http://localhost:5000/; then
              echo "MLflow is ready!"
              exit 0
            fi
            echo "MLflow is not ready yet. Waiting..."
            sleep 5
          done
          echo "MLflow did not become ready in time."
          exit 1

      - name: Start ngrok
        run: ngrok http 5000 --authtoken ${{ secrets.NGROK_AUTH_TOKEN }} &
      
      - name: Wait for ngrok to be ready and get public URL
        run: |
          echo "Waiting for ngrok to be ready..."
          sleep 10
          NGROK_URL=$(curl -s localhost:4040/api/tunnels | jq -r '.tunnels[0].public_url')
          echo "ngrok URL: $NGROK_URL"
          echo "NGROK_URL=$NGROK_URL" >> $GITHUB_ENV
          
      - name: Verify MLflow is running
        run: |
          echo "Checking if MLflow is accessible..."
          if [ -z "${{ env.NGROK_URL }}" ]; then
            echo "NGROK_URL environment variable is empty!"
            exit 1
          fi
          curl --fail ${{ env.NGROK_URL }} || exit 1
